<!--  File Name: footer.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid mx-auto">
    <h6 class= "mx-auto" style="color:white; font-size: 12px; text-align: center;"> Thang Pham - COMP229 Summer 2021. <br>&copy; Copyright 2021.</h6>
  </div>
</nav>